# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Environment variables
.env

# Docker / Volumes
.dockerdata/
pgdata/
neo4jdata/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
